body {
    background-image: url("assets/images/crumpled-white-paperboard.jpg");
    width: auto;
}

#title-img {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    position: relative;
    margin-top: 50px;
    justify-content: center;
}

#form-text {
    height: 200px;
    width: 600px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: x-large;
    opacity: 0.6;
}

.title {
    margin: 0 auto;
}

.container-fluid {
    justify-content: center;
}

.note {
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    justify-content: center;
    background: url("assets/images/notebg.png");
    background-size: 300px 400px;
}

.note-body {
    width: 270px;
    height: 280px;
    overflow: auto;
    display: inline-block !important;
    margin-left: 4px;
    margin-bottom: 0px;
}

.note-footer {
    width: 250px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: 20px;
}

.fa-minus {
    opacity: 0.0;
    color: red;
    margin-top: 10px;
    height: 20px;
    font-size: 30px;
    transition: all 500ms ease-in-out;
}

div:hover>i {
    opacity: 1.0;
}
