
body {
    background-image: url("assets/images/crumpled-white-paperboard.jpg");
}

#title-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.form-container {
    position: relative;
    margin-top: 50px;
    justify-content: center;
}

#form-text {
    height: 200px;
    width: 600px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: x-large;
    opacity: 0.6;
}

.container-fluid {
    margin: 0 100px;
}
.task-card{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    overflow: auto;
    margin: 2px;
    display:inline-block !important;

}