body {
    background-image: url("assets/images/crumpled-white-paperboard.jpg");
    width: auto;
}

#title-img {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    position: relative;
    margin-top: 50px;
    justify-content: center;
}

#form-text {
    height: 200px;
    width: 600px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: x-large;
    opacity: 0.6;
}

.title {
    margin: 0 auto;
}

.container-fluid {
    justify-content: center;
}

.note-body {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    overflow: auto;
    display: inline-block !important;
}

.note {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    justify-content:center;
}

.note-footer {
    width: 250px;
    height: 30px;
    margin-left: 0px;
    border: 2px solid black;
}

.fa-minus {
    color: red;
    margin-top: 5px;
}

.fa-minus:hover {
    margin-top: 0;
    font-size: 30px;
    color: red;
}